!!!5
html
  head
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js")
    script(src="js/colorbrewer.js")
    script(src="js/topojson.js")
    script(src="js/cartogram.js")
    script(src="topojson.js")
  body
    svg(id="map")

