<?xml version='1.0' encoding='utf-8'?>
<widget id="tw.g0v.twgeojson.air" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AIR</name>
    <description>運用環保署提供的 API，將懸浮微粒的資訊一覽呈現。</description>
    <author email="audreyt@audreyt.org" href="http://g0v.tw/">Audrey Tang</author>
    <content src="index.html" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="WebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <access origin="*" />
</widget>
